asyncpg==0.29.0
pydantic==2.6.1
pydantic-settings==2.2.1
fastapi==0.109.2
uvicorn==0.27.1
gunicorn==21.2.0
orjson==3.9.14
sqlmodel==0.0.16
SQLAlchemy==2.0.27
greenlet==3.0.3
alembic==1.13.1
aiohttp==3.9.3
